<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 指定log4j的配置文件 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.xml</param-value>
	</context-param>
	<!--
		指定spring的配置文件，默认从web根目录寻找配置文件，我们可以通过spring提供的classpath:前缀指定从类路径下寻找
	-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- tiles 配置 -->
<!-- 	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
		<param-value>/WEB-INF/tiles.xml</param-value>
	</context-param>  -->
	<!-- 指定默认主题。可选项：default、simple -->
	<context-param>
		<param-name>default_theme</param-name>
		<param-value>simple</param-value>
	</context-param>
<!-- 	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener> -->
	<!-- log4j -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>	
	<!-- 对Spring容器进行实例化 -->
<!-- 	<listener>
		<listener-class>com.upg.ucars.util.SpringContextManager</listener-class>
	</listener> -->
	<!-- 权限管理——资源加载器 -->
<!-- 	<listener>
		<listener-class>com.upg.ucars.framework.security.ResourceLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.upg.ucars.basesystem.audit.core.AuditConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.upg.ucars.framework.filter.UserSessionManager</listener-class>
	</listener> -->
	<!-- X-CARS ESB Listener: ESB Server integrate with web app
    <listener>
        <listener-class>com.upg.ucars.framework.esb.core.ESBListener</listener-class>
    </listener>
     
     <filter>
		<filter-name>welcome</filter-name>
		<filter-class>com.upg.ucars.framework.filter.WelcomePageFilter</filter-class>
		<init-param>
			<param-name>indexPage</param-name>
			<param-value>index.jsp</param-value>
		</init-param>
     </filter>
     <filter-mapping>
     	<filter-name>welcome</filter-name>
     	<url-pattern>/*</url-pattern>
     </filter-mapping>
     -->
     
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!-- 	<filter>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSessionRepositoryFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping> -->
 
	<!-- 配置struts2,自动 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
	  <servlet-name>JSPSupportServlet</servlet-name>
	  <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
	  <load-on-startup>1</load-on-startup>
	</servlet>
	
<!-- 	<servlet>
		<servlet-name>remoteServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext-remote.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteServlet</servlet-name>
		<url-pattern>/remote/*</url-pattern>
	</servlet-mapping> -->
	
	<!-- 定时任务 -->
<!-- 	<servlet>
		<servlet-name>AutoTaskInitializer</servlet-name>
		<servlet-class>
			com.upg.ucars.basesystem.autotask.AutoTaskInitializerServlet
		</servlet-class>
		<init-param>
  			<param-name>autoTaskIp</param-name>
  			<param-value>10.50.28.25</param-value>
  			集群环境下指定IP启动:<param-value>192.168.86.22</param-value>
  		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	 -->
	<jsp-config>
		<jsp-property-group>
			<description>special include text code</description>
			<display-name>JSPConfiguration</display-name>
			<url-pattern>*.ucars</url-pattern>
			<page-encoding>UTF-8</page-encoding>
		</jsp-property-group>
	</jsp-config>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>90</session-timeout>
	</session-config>
</web-app>